@import '_mixin.scss';
/* ****************************************************************************
 * global
 * ************************************************************************* */
.wrap {
    margin: 1.2rem 1.5rem 0;
}

/* ****************************************************************************
 * reg
 * ************************************************************************* */
.reg_tab {
    ul {
        width: 100%;

        border: 1px solid #4fc1e9;
        border-radius: .5rem;
        overflow: hidden;
        @extend %clearfix;
    }
    li {
        float: left;
        width: 50%;
        height: 3.8rem;

        color: #4fc1e9;
        font-size: 1.6rem;
        line-height: 3.8rem;
        text-align: center;

        &.active {

            color: #fff;
            background: #4fc1e9;
        }
    }
}
.reg_info {
    padding: 0 .7rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 0 0 #e5e5e5;
    ul {
        width: 100%;
        @extend %clearfix;
    }
    li {
        position: relative;
        width: 100%;
        height: 4.8rem;
        border-bottom: 1px solid #dfdfdf;
        &:last-child {
            border-width: 0;
        }
        input {
            width: 100%;
            height: 4.8rem;
            color: #adadad;
            font-size: 1.4rem;
            text-indent: .6rem;
        }
        span {
            position: absolute;
            top: 1rem;
            right: .5rem;
            width: 9.5rem;
            height: 3rem;

            color: #fff;
            font-size: 1.4rem;
            line-height: 3rem;
            text-align: center;

            background: #4fc1e9;
            border-radius: 1.5rem;
        }
    }
}
.reg_btn {
    width: 100%;
    height: 4.4rem;

    color: #fff;
    font-size: 1.8rem;
    line-height: 4.4rem;
    text-align: center;

    background: #4fc1e9;
    border-radius: .5rem;
}


/* ****************************************************************************
 * log
 * ************************************************************************* */
.log_info {
    padding: 0 .7rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 0 0 #e5e5e5;
    ul {
        width: 100%;
        @extend %clearfix;
    }
    li {
        position: relative;
        width: 100%;
        height: 4.8rem;
        border-bottom: 1px solid #dfdfdf;
        &:last-child {
            border-width: 0;
        }
        input {
            width: 100%;
            height: 4.8rem;
            color: #adadad;
            font-size: 1.4rem;
            text-indent: 5.4rem;
            &.tel {
                background: url(../images/log_tel.png) no-repeat 1.5rem center;
                background-size: 1.5rem auto;
            }
            &.num {
                background: url(../images/check_num.png) no-repeat 1.5rem center;
                background-size: 1.5rem auto;
            }
            &.pwd {
                background: url(../images/log_pwd.png) no-repeat 1.5rem center;
                background-size: 1.5rem auto;
            }
        }
        span {
            position: absolute;
            top: 1rem;
            right: .5rem;
            width: 9.5rem;
            height: 3rem;

            color: #fff;
            font-size: 1.4rem;
            line-height: 3rem;
            text-align: center;

            background: #4fc1e9;
            border-radius: 1.5rem;
        }
    }
}
/* ****************************************************************************
 * material
 * ************************************************************************* */
.material_avator {
    width: 78px;
    margin: 40px auto 0;
    span {
        display: block;
        width: 78px;
        height: 78px;
        @extend %clearfix;
        img {
            width: 100%;
        }
    }
    em {
        display: block;
        width: 100%;
        height: 1.4rem;
        padding: 2rem 0 0;

        color: #9e9c9c;
        font-size: 1.3rem;
        font-style: normal;
        line-height: 1.4rem;
        text-align: center;
    }
}
.material_info {
    ul {
        width: 100%;
        @extend %clearfix;
    }
    li {
        margin: 1rem auto 0;
        width: 100%;
        height: 4.8rem;
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 1px 0 0 #e5e5e5;
        @extend %clearfix;
        em {
            float: left;
            width: 9rem;
            height: 4.8rem;
            color: #adadad;
            font-size: 1.4rem;
            font-style: normal;
            text-align: center;
            line-height: 4.8rem;
        }
        div {
            margin: 0 0 0 9rem;
        }
        input {
            width: 100%;
            height: 4.8rem;
            color: #adadad;
            font-size: 1.4rem;
        }
        select {
            width: 100%;
            height: 4.8rem;
            color: #adadad;
            font-size: 1.4rem;
            outline: none;
            option {
                width: 100%;
                height: 4.8rem;
            }
        }
    }
}
/* ****************************************************************************
 * choose
 * ************************************************************************* */
.choose_banner {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    img {
        width: 100%;
    }
}
/* ****************************************************************************
 * basic
 * ************************************************************************* */
.basic_tab {
    width: 100%;
    max-width: 640px;
    height: 44px;
    margin: 5px auto 0;

    border-top: 1px solid #4fc1e9;
    ul {
        width: 100%;
        text-align: center;
        @extend %clearfix;
    }
    li {
        position: relative;
        display: inline-block;
        width: 84px;
        padding: 30px 0 0;
        color: #434343;
        font-size: 13px;
        line-height: 14px;
        &::before,
        &::after {
            position: absolute;
            top: -6px;
            left: 50%;
            margin: 0 0 0 -6px;

            width: 12px;
            height: 12px;

            content: '';
            background: #e7e7e7;
            border-radius: 6px;
        }
        &::after {
            display: none;
            top: -3px;
            left: 50%;
            margin: 0 0 0 -3px;

            width: 6px;
            height: 6px;

            background: #fff;
            border-radius: 3px;
        }
        &.active::before,
        &.active::after {
            background: #4fc1e9;
        }
    }
}
.basic_form {
    padding: 0 16px;
    background: #fff;
    border-radius: 5px;
    @extend %clearfix;
    em {
        display: block;
        height: 44px;
        color: #434343;
        font-size: 15px;
        font-style: normal;
        line-height: 44px;
        sup {
            padding: 0 0 0 5px;
            color: #4fc1e9;
            line-height: 1;
        }
        b {
            padding: 0 0 0 10px;
            font-size: 12px;
            color: #4fc1e9;
            font-weight: normal;
        }
        small {
            color: #959595;
            font-size: 12px;
        }
    }
    span {
        display: block;
        border-top: 1px solid #dcdcdc;
        input {
            width: 100%;
            height: 44px;
            font-size: 15px;
        }
    }
    figure {
        width: 202px;
        padding: 15px 0;
        margin: 0 auto 10px;

        border: 1px dashed #bfbfbf;
        border-radius: 7px;
        img {
            width: 173px;
            margin: 0 auto;
            display: block;
        }
    }
}
.basic_tags {
    em {
        display: block;
        height: 44px;
        padding: 0 16px;
        color: #434343;
        font-size: 15px;
        font-style: normal;
        line-height: 44px;
        sup {
            padding: 0 0 0 5px;
            color: #4fc1e9;
            line-height: 1;
        }
    }
    span {
        width: 100%;
        display: block;
        padding: 0 0 10px;

        font-size: 0;
        b {
            padding: 0 10px;
            margin: 0 0 0 8px;
            display: inline-block;

            color: #434343;
            font-size: 13px;
            font-weight: normal;
            line-height: 27px;

            border: 1px solid #c9c9c9;
            border-radius: 13px;
            &:first-child {
                margin: 0;
            }
            &.active {
                color: #fff;
                background: #4fc1e9;
                border: 1px solid #4fc1e9;
            }
        }
    }
}
.basic_tips {
    height: 24px;
    padding: 0 16px;
    color: #4fc1e9;
    line-height: 1;
}
/* ****************************************************************************
 * detail
 * ************************************************************************* */
.detail_form {
    padding: 0 16px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px #ebebeb;
    @extend %clearfix;
    span {
        float: left;
        height: 44px;
        line-height: 44px;
        color: #434343;
        font-size: 15px;
        font-style: normal;
        line-height: 44px;
    }
    input {
        margin: 0 0 0 10px;
        float: left;
        height: 44px;
        width: 180px;
        line-height: 44px;
        color: #434343;
        font-size: 15px;
        font-style: normal;
        line-height: 44px;
    }
}
.detail_mark {
    margin: 24px 0 0;
    padding: 0 0 0 10px;
    height: 18px;
    color: #4fc1e9;
    font-size: 17px;
    line-height: 18px;
    border-lefT: 3px solid #4fc1e9;
}
.detail_info {
    width: 100%;
    dt {
        height: 44px;
        color: #434343;
        font-size: 16px;
        line-height: 44px;
    }
    dd {
        padding: 10px;
        height: auto;
        background: #fff;
        textarea {
            width: 100%;
            min-height: 130px;
            outline: none;
        }
    }
}
/* ****************************************************************************
 * commit
 * ************************************************************************* */
.commit_tips {
    margin: 60px auto;
    padding: 30px 0;

    color: #4fc1e9;
    font-size: 15px;
    line-height: 32px;
    text-align: center;

    border: 1px solid #e1e1e1;
    border-width: 1px 0;
    background: #fff;
}
/* ****************************************************************************
 * repassword
 * ************************************************************************* */
.repass_tips {
    color: #b8b8b8;
    font-size: 12px;
}
/* ****************************************************************************
 * data
 * ************************************************************************* */
.data {
    margin: 0 auto;
    max-width: 640px;
    background: #fff;
}
.data_banner {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}
.data_title {
    padding: 36px 0 0 0;
    color: #1b1b1b;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}
.data_text {
    padding: 16px 0 0;
    color: #626262;
    font-size: 14px;
    line-height: 26px;
    p {
        padding: 10px 0;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
.data_btn {
    margin: 45px auto 0;
    width: 244px;
    height: 32px;

    color: #00a0e8;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #00a0e8;
    border-radius: 16px;
}
.data_wish {
    padding: 0 0 60px;
    color: #626262;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
}
/* ****************************************************************************
 * expert_list
 * ************************************************************************* */
.expert {
    margin: 0 auto;
    max-width: 640px;
}
.expert_banner {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}
.expert_tabs {
    margin: 1rem 0 0;
    padding: 1.5rem 0 .8rem;
    background: #fff;
    @extend %clearfix;
    ul {
        width: 100%;
    }
    li {
        float: left;
        width: 25%;
        &:nth-child(2) {
            span {
                background: #ffc6cc;
            }
        }
        &:nth-child(3) {
            span {
                background: #d5c8ea;
            }
        }
        &:nth-child(4) {
            span {
                background: #b6e7e7;
            }
        }
        span {
            margin: 0 auto;
            display: block;
            width: 4.5rem;
            height: 4.5rem;
            line-height: 4.5rem;
            text-align: center;
            font-size: 0;
            background: #b6e1fd;
            border-radius: 2.3rem;
            img {
                display: inline-block;
                width: 2.7rem;
                vertical-align: middle;
            }
        }
        em {
            display: block;
            width: 100%;
            color: #535353;
            font-size: 1.2rem;
            font-style: normal;
            text-align: center;
            line-height: 2.8rem;
        }
    }
}

.expert_list {
    margin: 1rem auto 0;
    background: #fff;
    @extend %clearfix;
    h2 {
        height: 46px;
        padding: 1.7rem 0 0 1.5rem;
        border-bottom: 1px solid #d1d1d1;
        span {
            padding: 0 0 0 1.2rem;
            height: 1.7rem;
            color: #535353;
            font-size: 1.3rem;
            font-weight: normal;
            line-height: 1.7rem;
            border-left: 3px solid #00a0e8;
            box-shadow: -1px 0 0 0 #87d2f4;
        }
    }
    ul {
        width: 100%;
        li {
            margin: 0 0 0 1rem;
            padding: 1.5rem 0 0;
            border-bottom: 1px solid #d1d1d1;
            @extend %clearfix;
            &:last-child {
                border-width: 0;
            }
        }
    }
    .left {
        float: left;
        width: 8.2rem;
        span {
            margin: 0 auto;
            display: block;
            width: 6.6rem;
            height: 6.6rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        em {
            display: block;
            width: 100%;
            color: #00a0e8;
            font-style: normal;
            text-align: center;
            line-height: 4.6rem;
        }
    }
    .right {
        margin: 0 1rem 0 8.6rem;
        h3 {
            max-height: 4rem;
            color: #535353;
            font-size: 1.6rem;
            line-height: 2rem;
            overflow: hidden;
        }
        p {
            padding: 0 1rem;
            margin: .4rem 0 0;
            height: 2.4rem;
            color: #c2c2c2;
            line-height: 2.4rem;
            border: 1px solid #e5e5e5;
            border-radius: 1.2rem;
            @extend %otw;
        }
        b {
            display: block;
            padding: 1.3rem 0 0;
            color: #c2c2c2;
            font-size: 1.2rem;
            font-weight: normal;
            line-height: 1;
        }
    }
}
.expert_avator {
    margin: 3rem 1.5rem;
    dt {
        float: left;
        width: 6.6rem;
        height: 6.6rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    dd {
        margin: 0 0 0 8.5rem;
        h1 {
            color: #313131;
            font-size: 2.4rem;
            line-height: 1;
            span {
                padding: 0 0 0 1rem;
                color: #1b1b1b;
                font-size: 12px;
            }
        }
        p {
            padding: 1rem 0 0;
            color: #535353;
            font-size: 1.3rem;
            line-height: 1.5;
        }
    }
}
.expert_call {
    display: block;
    margin: 2rem auto 0;
    width: 9rem;
    height: 3.5rem;
    color: #00a0e8;
    font-size: 1.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00a0e8;
    border-radius: 1.8rem;
}
.expert_title {
    margin: 2.5rem 2rem 0;
    height: 5.8rem;
    color: #1b1b1b;
    font-size: 1.9rem;
    line-height: 5.8rem;
    border-bottom: 1px solid #a6a6a6;
}
.expert_detail {
    margin: 0 2rem 2rem;
    color: #7d7d7d;
    font-size: 1.4rem;
    line-height: 2.8rem;
}
.expert_footer {
    padding: 1.8rem 0 0;
    background: #2d3237;
    h3 {
        margin: 0 2rem;
        line-height: 2.2rem;
        @extend %clearfix;
        img {
            float: left;
            height: 3.1rem;
        }
        span {
            padding: 0 0 0 1rem;
            float: left;
            color: #fff;
            font-size: 1.3rem;
            font-weight: normal;
            line-height: 3.1rem;
        }
    }
    p {
        height: 3.2rem;
        color: #e5e5e5;
        font-size: 1.4rem;
        text-align: center;
        line-height: 3.2rem;
        a {
            padding: 0 1rem 0 .9rem;
            color: #fff;
            border-right: 1px solid #adafb1;
            text-decoration: none;
            &:last-child {
                border-width: 0;
            }
        }
    }
    div {
        margin: 1rem 0 0;
        padding: 0 0 2rem;
        color: #a0a0a0;
        font-size: 1.2rem;
        text-align: center;
        line-height: 5.5rem;
        background: #23282d;
    }
}
